.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: $offWhite;
}

// footers

footer {
  background: $black;
  padding: 10px 0;
  color: white;
  text-align: center;
  a:hover, 
  a:focus {
    text-decoration: underline;
  } 
}
