.formContainer {
  width: 70%;
  position: relative;
  top: -250px;
}

.contactForm,
.commentForm {
  box-shadow: $formShadow;
  background: #fff;
  display: flex;
  flex-direction: column;
  padding-bottom: 30px;
}

.commentForm {
  box-shadow: none;
  background: transparent;
  position: relative;
  top: -170px;
  padding: 0;
  input,
  textarea {
    background: transparent;
  }
  input {
    // margin: 10px;
  }
  .formInfo,
  textarea {
    margin-left: 0;
    margin-bottom: 10px;
  }
  button {
    margin-left: 0;
  }
}


input, textarea {
  border: none;
  padding: 20px;
  &:hover, 
  &:focus {
    outline: 2px solid $green;
  }
}

.formInfo {
  display: flex;
  justify-content: space-between;
}

.formInfo,
textarea,
button {
  margin: 20px 10%;
}

input {
  border-bottom: 1px solid $green;
  width: 45%;
}

textarea {
  border: 1px solid $green;
  resize: none;
  padding-top: 30px;
  max-height: 250px;
}

button {
  margin-bottom: 40px;
}