.contactForm {
  box-shadow: $formShadow;
  background: #fff;
  display: flex;
  flex-direction: column;
  position: relative;
  top: -200px;
}

input, textarea {
  border: none;
  padding: 20px;
  &:hover, 
  &:focus {
    outline: 2px solid $green;
  }
}

.formInfo {
  display: flex;
  justify-content: space-between;
}

.formInfo,
textarea,
button {
  margin: 20px 70px;
}

input {
  border-bottom: 1px solid $green;
}

textarea {
  border: 1px solid $green;
  resize: none;
  padding-top: 30px;
  max-height: 250px;
}

button {
  margin-bottom: 40px;
}