nav,
nav .wrapper {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  background: $forest;
  padding: 10px 0;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    text-transform: uppercase;
  }
  a {
    font-size: 0.8rem;
    padding: 30px 20px;
    &:hover,
    &:focus {
      color: $yellow;
    }
  }
}

.clearNav {
  background: none;
  padding: 20px 0;
}

.homeHeader {
  background-image: url(../planted-final-assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  .home {
    z-index: 10;
    position: absolute;
    left: 23%;
    top: 120px;
  }
  .headerBox {
    width: 550px;
    height: 550px;
    position: absolute;
    right: 0;
    top: 50px;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.contactHeader,
.blogHeader {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 500px;
  .flexContainer {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    h2 {
      margin-bottom: 20px;
    }
    span {
      color: $yellow;
    }
  }
}

.blogHeader {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
}