nav,
nav .wrapper {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  background: $forest;
  padding: 10px 0;
  position: relative;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    text-transform: uppercase;
  }
  a {
    font-size: 0.8rem;
    padding: 30px 20px;
    &:hover,
    &:focus {
      color: $yellow;
    }
  }
}

.clearNav {
  background: none;
  padding: 20px 0;
  position: relative;
}

.slideOutIcon {
  color: $offWhite;
  position: absolute;
  right: 5%;
  display: none;
  padding: 10px;
  padding-top: 0;
}

.slideOutNav {
  z-index: 20;
  transition: all 0.75s ease;
  border: 2px solid $offWhite;
  background: $black;
  ul {
    display: flex;
    flex-direction: column;
    li {
      width: 100%;
      margin: 20px 50px 20px 0;
    }
    a {
      padding: 20px 50px 20px 30px;
    }
  }
}

.hidden {
  position: fixed;
  top: 55px;
  right: -600px;
}

.showMe {
  position: absolute;
  top: 55px;
  right: 10px;
}

.homeHeader {
  background-image: url(../planted-final-assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
  .home {
    z-index: 10;
    position: absolute;
    top: 120px;
    h2 {
      padding-left: 37%;
    }
  }
  .headerBox {
    width: 550px;
    height: 550px;
    position: absolute;
    right: 0;
    top: 50px;
    img {
      display: block;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.contactHeader,
.blogHeader {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
  .flexContainer {
    height: 100%;
    flex-direction: column;
    justify-content: flex-end;
    h2 {
      margin-bottom: 20px;
    }
    span {
      color: $yellow;
    }
  }
}

.blogHeader {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
  background-size: contain;
  height: 400px;
}