@media (max-width: 1140px) {
  .mission h4 {
    line-height: 50px;
  }
}

@media (max-width: 980px) {
  .blogHeader {
    text-align: center;
    max-height: 300px;
    h2 {
      padding: 0;
      padding-bottom: 60px;
    }
  }

  .flexContainer .aboutPosts .wrapper {
    width: 90%;
    display: flex;
    .aboutDiv {
      margin-top: 20px;
    }
    img {
      top: 0;
      right: 0;
      width: 130%;
    }
  }

  .blogBody .flexContainer {
    flex-direction: column;
  }

  .mission {
    margin-top: 100px; 
    .missionStatement {
      border-left: none;
      margin: 0 auto;
    }
    .movementContainer {
      top: 0px;
      .missionImgContainer {
        width: 90%;
        margin: 0 auto;
      }
    }
  }

  .commentSection {
    padding: 0;
    margin: 0 auto;
    .flexContainer {
      flex-direction: row;
    }
  }

  .commentFormContainer {
    margin: 0 auto;
    .commentForm {
      top: 0;
      width: 70%;
      margin: 0 auto;
      .formInfo {
        margin: 10px auto;
        flex-direction: row;
        input {
          margin: 0 20px;
        }
      } 
      textarea {
        margin: 10px auto;
        width: 100%;
      }
    }
    .findMoreLink {
      margin: 20px auto;
      width: 100%;
    }
  }
}

@media (max-width: 845px) {
  .flexContainer .aboutPosts .wrapper img {
    width: 150%;
  }
}

@media (max-width: 768px) {
  .blogHeader {
    background-size: cover;
    .flexContainer {
    justify-content: center;
    h2 {
      padding: 0;
      margin: 0;
    }
    }
  }

  .flexContainer .aboutPosts {
    margin-top: 50px;
    .wrapper {
      width: 80%;
      flex-direction: column;
      img {
        width: 100%;
        margin: 0 auto;
      }
      .queryDiv {
        padding: 0 25px;
      }
    }
  }

  .missionStatement {
    p {
      font-size: 0.7rem;
    }
  }

  .mission h4 {
    font-size: 1.7rem;
  }  

  .commentFormContainer .commentForm .formInfo {
    flex-direction: column;
    margin: 10px 0;
    input {
      margin: 0;
    }
  }
}

@media (max-width: 480px) {
  .blogHeader .flexContainer {
    justify-content: flex-end;
    h2 {
      padding-bottom: 25px;
    }
  }

  .flexContainer .aboutPosts .wrapper .queryDiv {
    padding: 0;
    .aboutDiv,
    .postsDiv {
      padding: 5px 5px 10px 15px;
    }
  }

  .missionStatement {
    width: 100%;
    padding: 15px;
    padding-left: 35px;
    // margin: 0 auto;
    text-align: center;
    .date {
      padding: 0 20px;
      margin-bottom: 20px;
    }
  }

  .commentSection .flexContainer {
    flex-direction: column;
  }

  .commentSection .comment {
    .commentImg {
      margin: 0 auto;
    }
    .commentText {
      padding: 0;
      .commentDate {
        padding: 0 35px;
        text-align: center;
      }
    }
  }

  .commentFormContainer .commentForm {
    width: 90%;
  }
}