nav,
nav .wrapper {
  display: flex;
  font-family: 'Josefin Sans', sans-serif;
  background: $black;
  padding: 20px 0;
  ul {
    list-style: none;
  }
  li {
    display: inline-block;
    text-transform: uppercase;
  }
  a {
    padding: 30px;
    &:hover,
    &:focus {
      color: $yellow;
    }
  }
}

.clearNav {
  background: none;
}