html {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
}

article, aside, footer, header, nav, section {
  display: block;
}

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

figcaption, figure, main {
  display: block;
}

figure {
  margin: 1em 40px;
}

hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  height: 0;
  overflow: visible;
}

pre {
  font-family: monospace, monospace;
  font-size: 1em;
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

b, strong {
  font-weight: inherit;
}

b, strong {
  font-weight: bolder;
}

code, kbd, samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

dfn {
  font-style: italic;
}

mark {
  background-color: #ff0;
  color: #000;
}

small {
  font-size: 80%;
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

audio, video {
  display: inline-block;
}

audio:not([controls]) {
  display: none;
  height: 0;
}

img {
  border-style: none;
}

svg:not(:root) {
  overflow: hidden;
}

button, input, optgroup, select, textarea {
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.15;
  margin: 0;
}

button, input {
  overflow: visible;
}

button, select {
  text-transform: none;
}

button, html [type=button], [type=reset], [type=submit] {
  -webkit-appearance: button;
}

button::-moz-focus-inner, [type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

button:-moz-focusring, [type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal;
}

progress {
  display: inline-block;
  vertical-align: baseline;
}

textarea {
  overflow: auto;
}

[type=checkbox], [type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto;
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

details, menu {
  display: block;
}

summary {
  display: list-item;
}

canvas {
  display: inline-block;
}

template {
  display: none;
}

[hidden] {
  display: none;
}

html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*, *:before, *:after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

/* end snippet */
html {
  font-size: 125%;
  /* 20px */
  scroll-behavior: smooth;
}

body {
  font-family: "Roboto", sans-serif;
  line-height: 32px;
}

h1, h2, h3, h4, h5, ul, p {
  padding: 0;
  margin: 0;
}

h1 {
  color: #F0EFED;
  margin-right: 20px;
  font-weight: 400;
}

h2 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 3.5rem;
  font-weight: 700;
  line-height: 92px;
  color: #F8E71C;
}
h2 span {
  color: #F0EFED;
  display: block;
}

.home h2 {
  font-size: 7rem;
  font-weight: 400;
  line-height: 130px;
  padding-left: 70px;
}

h3 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 2.815rem;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1.3px;
}

h4 {
  font-family: "Josefin Sans", sans-serif;
  font-size: 1.6rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.mission h4 {
  font-size: 2.15rem;
  letter-spacing: 1.3px;
}

.founder h4 {
  font-size: 2.1rem;
}

h5 {
  font-family: "Josefin Sans", sans-serif;
  letter-spacing: 1px;
  font-size: 1rem;
  margin: 10px 0;
}

.commentSection h5 {
  font-size: 1.4rem;
}

input, textarea {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  line-height: 1.6rem;
}

.wrapper {
  max-width: 1200px;
  width: 80%;
  margin: 0 auto;
}

.contactWrapper {
  max-width: 1200px;
  width: 90%;
  margin: 0 auto;
}

a {
  text-decoration: none;
  color: #F0EFED;
}

.flexContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}

section:nth-child(odd) {
  background: #F0EFED;
}

.findMoreLink {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  line-height: 32px;
  text-align: center;
  letter-spacing: 1px;
}
.findMoreLink a {
  background: #0E902D;
  padding: 15px 30px;
}
.findMoreLink a:hover, .findMoreLink a:focus {
  color: #F8E71C;
}

button {
  color: #F0EFED;
  background: #0E902D;
  padding: 8px 30px;
  letter-spacing: 1px;
  border: none;
}
button:hover, button:focus {
  color: #F8E71C;
}

footer {
  background: #2C2C2C;
  padding: 10px 0;
  color: white;
  text-align: center;
}
footer a:hover,
footer a:focus {
  text-decoration: underline;
}

nav,
nav .wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Josefin Sans", sans-serif;
  background: #050A0C;
  padding: 10px 0;
  position: relative;
}
nav ul,
nav .wrapper ul {
  list-style: none;
}
nav li,
nav .wrapper li {
  display: inline-block;
  text-transform: uppercase;
}
nav a,
nav .wrapper a {
  font-size: 0.8rem;
  padding: 30px 20px;
}
nav a:hover, nav a:focus,
nav .wrapper a:hover,
nav .wrapper a:focus {
  color: #F8E71C;
}

.clearNav {
  background: none;
  padding: 20px 0;
  position: relative;
}

.mobileContainer {
  display: none;
}

.slideOutIcon {
  color: #F0EFED;
  position: absolute;
  right: 5%;
  padding: 10px;
  padding-top: 0;
}

.slideOutNav {
  z-index: 20;
  -webkit-transition: all 0.75s ease-in;
  transition: all 0.75s ease-in;
  border: 2px solid #F0EFED;
  background: #2C2C2C;
}
.slideOutNav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.slideOutNav ul li {
  width: 100%;
  margin: 20px 50px 20px 0;
}
.slideOutNav ul a {
  padding: 20px 50px 20px 30px;
}

.hidden {
  position: fixed;
  top: 55px;
  right: -600px;
}

.showMe {
  position: absolute;
  top: 55px;
  right: 10px;
}

.homeHeader {
  background-image: url(../planted-final-assets/home-image-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 560px;
}
.homeHeader .home {
  z-index: 10;
  position: absolute;
  top: 120px;
}
.homeHeader .home h2 {
  padding-left: 37%;
}
.homeHeader .headerBox {
  width: 550px;
  height: 550px;
  position: absolute;
  right: 0;
  top: 50px;
}
.homeHeader .headerBox img {
  display: block;
  max-width: 100%;
  max-height: 100%;
}

.contactHeader,
.blogHeader {
  background-image: url(../planted-final-assets/contact-header-1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 400px;
}
.contactHeader .flexContainer,
.blogHeader .flexContainer {
  height: 100%;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.contactHeader .flexContainer h2,
.blogHeader .flexContainer h2 {
  margin-bottom: 20px;
}
.contactHeader .flexContainer span,
.blogHeader .flexContainer span {
  color: #F8E71C;
}

.blogHeader {
  background-image: url(../planted-final-assets/blog-header-1.jpg);
  background-size: contain;
  height: 400px;
}

.about .flexContainer {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 200px 50px;
}
.about .flexContainer p {
  margin: 40px 0;
  text-align: center;
}

.readMore {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.readMoreFlex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 50%;
  margin-right: 60px;
  text-align: right;
}
.readMoreFlex .textContainer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 65px 0;
  margin: 0;
}
.readMoreFlex .textContainer p {
  padding: 25px 0 45px 0;
  font-size: 0.8rem;
}
.readMoreFlex .textContainer .findMoreLink {
  margin: 0 0 0 auto;
}
.readMoreFlex .imgContainer img {
  max-width: 100%;
  display: block;
}

.leftText .wrapper {
  margin: 0 0 0 auto;
}

.readMoreFlex:last-of-type {
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
      -ms-flex-direction: column-reverse;
          flex-direction: column-reverse;
  text-align: left;
  margin-right: 0;
  margin-left: 60px;
}
.readMoreFlex:last-of-type .findMoreLink {
  margin: 0 auto 0 0;
}

.leftImage {
  -webkit-box-shadow: 20px 20px 0px 0px #F8E71C;
          box-shadow: 20px 20px 0px 0px #F8E71C;
  position: relative;
  top: -20px;
}

.rightImage {
  -webkit-box-shadow: -20px 20px 0px 0px #F8E71C;
          box-shadow: -20px 20px 0px 0px #F8E71C;
  position: relative;
  top: 20px;
}

.infoSection .flexContainer {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding: 100px 0;
}
.infoSection .flexContainer .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 50%;
  margin: 30px 0;
}
.infoSection .flexContainer .info .iconContainer {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  background-color: #F8E71C;
}
.infoSection .flexContainer .info .iconContainer i {
  padding-top: 10px;
}
.infoSection .flexContainer .info a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  color: #2C2C2C;
  margin-left: 30px;
  width: calc(95% - 30px);
}
.infoSection .flexContainer .info a h4 {
  margin-bottom: 20px;
}
.infoSection .flexContainer .info a p {
  font-size: 0.8rem;
}
.infoSection .flexContainer .info3,
.infoSection .flexContainer .info4 {
  margin-bottom: 0;
}

.infoSection .flexContainer .info a h4:hover,
.infoSection .flexContainer .info a h4:focus {
  color: #0E902D;
}

.banner img {
  display: block;
  max-width: 100%;
}

.founder .flexContainer {
  padding: 100px 0;
}
.founder .flexContainer .founderImage {
  width: 25%;
}
.founder .flexContainer .founderImage img {
  display: block;
  max-width: 100%;
  -webkit-box-shadow: 20px 20px 0px 0px #F8E71C;
          box-shadow: 20px 20px 0px 0px #F8E71C;
}
.founder .flexContainer .founderText {
  width: 75%;
  padding-left: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.founder .flexContainer .founderText p {
  margin: 15px 0;
}
.founder .flexContainer .founderText .findMoreLink {
  -ms-flex-item-align: start;
      align-self: flex-start;
}

.gallery .flexContainer {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 100px 0;
}
.gallery .flexContainer img {
  width: calc(33.3333333333% - 20px);
}

.contactInfo {
  width: 30%;
  margin: 100px 0 100px 50px;
}
.contactInfo .iconList li {
  display: inline-block;
}
.contactInfo i {
  color: #0E902D;
  padding: 10px;
}
.contactInfo i:hover, .contactInfo i:focus {
  color: #F0EFED;
  background: #0E902D;
  border-radius: 50%;
}
.contactInfo p {
  font-family: "Josefin Sans", sans-serif;
  font-weight: 700;
  letter-spacing: 2px;
  padding-left: 10px;
  margin: 15px 0;
}
.contactInfo .address {
  padding-left: 10px;
}
.contactInfo .address li {
  font-size: 0.8rem;
  list-style: none;
  line-height: 1.3rem;
}

.blogHeader h2 {
  padding: 0 0 70px 30px;
}

.blogBody {
  background: #F0EFED;
}

.flexContainer .aboutPosts {
  margin-top: 100px;
}
.flexContainer .aboutPosts .wrapper {
  width: 70%;
  background: #fff;
}
.flexContainer .aboutPosts .wrapper img {
  position: relative;
  top: -15px;
  right: 170px;
}

.aboutDiv,
.postsDiv {
  padding: 0 40px;
}
.aboutDiv p,
.aboutDiv li,
.postsDiv p,
.postsDiv li {
  font-size: 0.7rem;
}
.aboutDiv ul,
.postsDiv ul {
  padding-left: 25px;
  margin-bottom: 30px;
}
.aboutDiv a,
.postsDiv a {
  color: #2C2C2C;
}
.aboutDiv a:hover, .aboutDiv a:focus,
.postsDiv a:hover,
.postsDiv a:focus {
  color: #0E902D;
}

.aboutDiv a {
  font-style: italic;
  font-weight: 700;
}

.postsDiv {
  padding-top: 20px;
  padding-bottom: 5px;
}

.movementContainer {
  position: relative;
  top: -200px;
}

.missionImgContainer {
  -webkit-box-shadow: -25px 25px 0px -10px #F8E71C;
          box-shadow: -25px 25px 0px -10px #F8E71C;
}
.missionImgContainer img {
  display: block;
  width: 100%;
}

.missionStatement {
  width: 90%;
  border-left: 7px solid #F8E71C;
  border-bottom: 7px solid #F8E71C;
  position: relative;
  left: -15px;
  padding: 80px 0 20px 40px;
}
.missionStatement .date {
  font-style: italic;
  letter-spacing: 1px;
  margin: 0 0 40px 0;
}
.missionStatement .date span {
  font-weight: 700;
}
.missionStatement p {
  padding: 10px 0;
}

.commentSection {
  width: 90%;
  padding: 20px 0 20px 20px;
}
.commentSection .comment {
  padding: 20px 0 50px 0;
}
.commentSection .comment .commentText {
  padding-left: 30px;
}
.commentSection .comment .commentText .commentDate {
  font-weight: 700;
  font-family: "Josefin Sans", sans-serif;
}
.commentSection .comment .commentText p {
  font-size: 0.8rem;
}

.formContainer {
  width: 70%;
  position: relative;
  top: -250px;
}

.contactForm,
.commentForm {
  -webkit-box-shadow: -25px 25px 0px -10px #F8E71C;
          box-shadow: -25px 25px 0px -10px #F8E71C;
  background: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-bottom: 30px;
}

.commentForm {
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
  position: relative;
  top: -170px;
  padding: 0;
}
.commentForm input,
.commentForm textarea {
  background: transparent;
}
.commentForm .formInfo,
.commentForm textarea {
  margin-left: 0;
  margin-bottom: 10px;
}
.commentForm button {
  margin-left: 0;
}

input, textarea {
  border: none;
  padding: 20px;
}
input:hover, input:focus, textarea:hover, textarea:focus {
  outline: 2px solid #0E902D;
}

.formInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.formInfo,
textarea,
button {
  margin: 20px 10%;
}

input {
  border-bottom: 1px solid #0E902D;
  width: 45%;
}

textarea {
  border: 1px solid #0E902D;
  resize: none;
  padding-top: 30px;
  max-height: 250px;
}

button {
  margin-bottom: 40px;
}

@media (max-width: 820px) {
  .wrapper {
    width: 90%;
  }

  .homeHeader .home h2 {
    font-size: 6rem;
    padding-left: 20%;
  }

  .homeHeader .headerBox {
    width: 450px;
    height: 450px;
    top: 110px;
  }

  .infoSection .flexContainer .info a {
    margin-left: 5px;
  }
  .infoSection .flexContainer .info h4 {
    margin-top: 10px;
  }

  .founder .flexContainer .founderText {
    padding-left: 40px;
  }
  .founder .flexContainer .founderText p {
    font-size: 0.8rem;
    padding: 20px 0;
  }
}
@media (max-width: 660px) {
  .largeNav,
.contactNav,
.blogNav {
    display: none;
  }

  .mobileContainer {
    display: block;
  }

  .slideOutNav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    width: 100%;
  }
  .slideOutNav ul li {
    margin: 20px 10px;
    text-align: center;
  }
  .slideOutNav ul a {
    padding: 20px 10px;
  }

  .homeHeader .home h2 {
    font-size: 4rem;
    padding-left: 10%;
    margin-top: 150px;
  }
  .homeHeader .home h2 span {
    max-height: 80px;
  }

  .homeHeader .headerBox {
    display: none;
  }

  .about .flexContainer {
    padding: 200px 0;
  }

  .readMore {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .readMoreFlex,
.readMoreFlex:last-of-type {
    width: auto;
    text-align: center;
    margin: 0 60px;
  }
  .readMoreFlex .textContainer .findMoreLink,
.readMoreFlex:last-of-type .textContainer .findMoreLink {
    margin: 0;
  }
  .readMoreFlex h4,
.readMoreFlex:last-of-type h4 {
    text-align: center;
  }

  .readMoreFlex:last-of-type {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .leftText .wrapper,
.rightText .wrapper {
    margin: 0 auto;
  }

  .infoSection .flexContainer .info {
    width: auto;
    margin: 15px;
  }
  .infoSection .flexContainer .info a {
    margin-left: 30px;
  }
}
@media (max-width: 480px) {
  .slideOutNav ul {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
  }
  .slideOutNav ul li {
    width: calc(50% - 50px);
    margin: 20px 10px;
    text-align: center;
  }
  .slideOutNav ul a {
    padding: 20px 10px;
  }

  .homeHeader .home h2 {
    margin-top: 50px;
    font-size: 3rem;
  }

  .about .flexContainer {
    padding: 70px 0;
  }
  .about .flexContainer h3 {
    line-height: 60px;
  }
  .about .flexContainer p {
    font-size: 0.8rem;
  }

  .readMoreFlex,
.readMoreFlex:last-of-type {
    margin: 0 10px;
  }
  .readMoreFlex .imgContainer,
.readMoreFlex:last-of-type .imgContainer {
    -webkit-box-shadow: none;
            box-shadow: none;
    top: 30px;
  }

  .infoSection .flexContainer {
    padding: 40px 0;
  }
  .infoSection .flexContainer .info h4 {
    font-size: 1.4rem;
  }
  .infoSection .flexContainer .info a {
    margin-left: 5px;
  }

  .founder .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .founder .flexContainer .founderImage {
    width: 90%;
    -ms-flex-item-align: center;
        align-self: center;
  }
  .founder .flexContainer .founderImage img {
    margin: 0 auto;
  }
  .founder .flexContainer .founderText {
    margin-top: 60px;
    padding: 0 10px;
    text-align: center;
    width: 100%;
  }
  .founder .flexContainer .founderText h4 {
    font-size: 1.8rem;
  }
  .founder .flexContainer .founderText .findMoreLink {
    -ms-flex-item-align: center;
        align-self: center;
  }

  .gallery .flexContainer {
    padding: 50px 0;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-line-pack: center;
        align-content: center;
  }
  .gallery .flexContainer img {
    width: 100%;
    margin: 10px 0;
  }

  footer p {
    font-size: 0.8rem;
  }
}
@media (max-width: 980px) {
  .contactHeader .flexContainer {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .contactHeader .flexContainer h2 {
    margin-top: 100px;
    text-align: center;
  }
  .contactHeader .flexContainer h2 span {
    display: inline-block;
  }

  .contact .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .contact .flexContainer .contactInfo {
    margin: 0;
    position: relative;
    top: -100px;
    width: 100%;
    text-align: center;
  }

  .formContainer {
    top: -150px;
  }

  .formInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .formInfo input {
    width: 100%;
  }
}
@media (max-width: 768px) {
  .formContainer {
    width: 90%;
  }

  input {
    text-align: center;
    padding-bottom: 10px;
  }
}
@media (max-width: 480px) {
  .contactHeader .flexContainer h2 {
    margin-top: 150px;
    padding: 0 10%;
  }

  .slideOutNav ul li {
    margin: 20px 0;
    width: 50%;
  }
  .slideOutNav ul a {
    padding: 20px;
  }

  .formContainer {
    top: -35px;
    margin-bottom: 150px;
  }
}
@media (max-width: 1140px) {
  .mission h4 {
    line-height: 50px;
  }
}
@media (max-width: 980px) {
  .blogHeader {
    text-align: center;
    max-height: 300px;
  }
  .blogHeader h2 {
    padding: 0;
    padding-bottom: 60px;
  }

  .flexContainer .aboutPosts .wrapper {
    width: 90%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .flexContainer .aboutPosts .wrapper .aboutDiv {
    margin-top: 20px;
  }
  .flexContainer .aboutPosts .wrapper img {
    top: 0;
    right: 0;
    width: 130%;
  }

  .blogBody .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .mission {
    margin-top: 100px;
  }
  .mission .missionStatement {
    border-left: none;
    margin: 0 auto;
  }
  .mission .movementContainer {
    top: 0px;
  }
  .mission .movementContainer .missionImgContainer {
    width: 90%;
    margin: 0 auto;
  }

  .commentSection {
    padding: 0;
    margin: 0 auto;
  }
  .commentSection .flexContainer {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }

  .commentFormContainer {
    margin: 0 auto;
  }
  .commentFormContainer .commentForm {
    top: 0;
    width: 70%;
    margin: 0 auto;
  }
  .commentFormContainer .commentForm .formInfo {
    margin: 10px auto;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .commentFormContainer .commentForm .formInfo input {
    margin: 0 20px;
  }
  .commentFormContainer .commentForm textarea {
    margin: 10px auto;
    width: 100%;
  }
  .commentFormContainer .findMoreLink {
    margin: 20px auto;
    width: 100%;
  }
}
@media (max-width: 845px) {
  .flexContainer .aboutPosts .wrapper img {
    width: 150%;
  }
}
@media (max-width: 768px) {
  .blogHeader {
    background-size: cover;
  }
  .blogHeader .flexContainer {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .blogHeader .flexContainer h2 {
    padding: 0;
    margin: 0;
  }

  .flexContainer .aboutPosts {
    margin-top: 50px;
  }
  .flexContainer .aboutPosts .wrapper {
    width: 80%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .flexContainer .aboutPosts .wrapper img {
    width: 100%;
    margin: 0 auto;
  }
  .flexContainer .aboutPosts .wrapper .queryDiv {
    padding: 0 25px;
  }

  .missionStatement p {
    font-size: 0.7rem;
  }

  .mission h4 {
    font-size: 1.7rem;
  }

  .commentFormContainer .commentForm .formInfo {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    margin: 10px 0;
  }
  .commentFormContainer .commentForm .formInfo input {
    margin: 0;
  }
}
@media (max-width: 480px) {
  .blogHeader .flexContainer {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
  .blogHeader .flexContainer h2 {
    padding-bottom: 25px;
  }

  .flexContainer .aboutPosts .wrapper .queryDiv {
    padding: 0;
  }
  .flexContainer .aboutPosts .wrapper .queryDiv .aboutDiv,
.flexContainer .aboutPosts .wrapper .queryDiv .postsDiv {
    padding: 5px 5px 10px 15px;
  }

  .missionStatement {
    width: 100%;
    padding: 15px;
    padding-left: 35px;
    text-align: center;
  }
  .missionStatement .date {
    padding: 0 20px;
    margin-bottom: 20px;
  }

  .commentSection .flexContainer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }

  .commentSection .comment .commentImg {
    margin: 0 auto;
  }
  .commentSection .comment .commentText {
    padding: 0;
  }
  .commentSection .comment .commentText .commentDate {
    padding: 0 35px;
    text-align: center;
  }

  .commentFormContainer .commentForm {
    width: 90%;
  }
}